# Garante que o cron saiba onde encontrar os executáveis
SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
TZ=America/Sao_Paulo

# Aguarda os bancos e executa os arquivos _postgre.py
0 8-18 * * 1-5 /app/wait-for-it.sh postgres:5432 -t 60 && /usr/local/bin/python /app/src/deals_postgre.py >> /app/logs/cron.log 2>&1
0 8-18 * * 1-5 /usr/local/bin/python /app/src/fields_postgre.py >> /app/logs/cron.log 2>&1
0 8-18 * * 1-5 /usr/local/bin/python /app/src/pipelines_postgre.py >> /app/logs/cron.log 2>&1
0 8-18 * * 1-5 /usr/local/bin/python /app/src/stages_postgre.py >> /app/logs/cron.log 2>&1
0 8-18 * * 1-5 /usr/local/bin/python /app/src/users_postgre.py >> /app/logs/cron.log 2>&1

# Mantenha esta linha vazia no final