TZ=America/Sao_Paulo

# Aguarda os bancos e executa os novos arquivos _postgre.py
0 9-16 * * 1-5 root /app/wait-for-it.sh mysql:3306 -t 60 && /app/wait-for-it.sh postgres:5432 -t 60 && /usr/local/bin/python /app/src/deals_postgre.py >> /app/logs/cron.log 2>&1
0 9-16 * * 1-5 root /usr/local/bin/python /app/src/fields_postgre.py >> /app/logs/cron.log 2>&1
0 9-16 * * 1-5 root /usr/local/bin/python /app/src/pipelines_postgre.py >> /app/logs/cron.log 2>&1
0 9-16 * * 1-5 root /usr/local/bin/python /app/src/stages_postgre.py >> /app/logs/cron.log 2>&1
0 9-16 * * 1-5 root /usr/local/bin/python /app/src/users_postgre.py >> /app/logs/cron.log 2>&1

# Linha vazia obrigatória